In [2]:
import pandas as pd
import numpy as np

In [2]:
'''data = {
    'Values': [34,34,23,45,23,45,34,23,37,35]
}
df = pd.DataFrame(data)'''

"data = {\n    'Values': [34,34,23,45,23,45,34,23,37,35]\n}\ndf = pd.DataFrame(data)"

## T-Test  (Two tail test)

### Question1 
**The Violet industries produces furniture for home and office use. The production engineer claims that the average number of furniture items produced is 30. Test his claim.**

In [8]:
df=pd.read_csv('Data/Pract1_Question1.csv')
df.count()  # v = n-1   10-1

index    10
data     10
dtype: int64

### Hypothesis
- **Null Hypothesis : H$_o$**
 $$ ¬µ= 30 $$
- **Alternate Hypothesis : H$_1$**
  $$ ¬µ ‚â† 30 $$

#### Heading
- text    hyp

In [7]:
from scipy.stats import ttest_1samp
ttest_1samp(df['data'],30)   # x mean = 30   p >0.05      0.05 0.05

TtestResult(statistic=1.2674612253287467, pvalue=0.23680061493494728, df=9)

### Conclusion : 
- Out p-value(0.23) is > 0.05 therefore we will ***reject the alternate hypothesis*** and select the null hypothesis ,
- we may conclude that the avegrae number of furniture iteams produced by the machine A is equal to 30

## T-Test (One tail test)  Left tail

### Question 2 :
**The Blaze Industries Pvt. Ltd. claims that their manufactured electric bulbs have a life of 45000 hrs . Test the their claim at 5% level of significance.**

In [10]:
df2=pd.read_excel('Data/Pract1_Question2.xlsx')

In [12]:
df2.head()

   sr   Life
0   1  35000
1   2  49000
2   3  44000
3   4  45900
4   5  43400

- logically considering the scenario where customers would only be dissatisfied if the bulb life is less than the claimed 45,000 hrs, then the alternative hypothesis should be set up to reflect that.
- The alternative hypothesis would now reflect the concern that the actual average life of the bulbs is less than what the company claims, which would be problematic for the customer.
- In this case, the correct formulation would be:

-  **Null Hypothesis (H$_o$):** The average life of the bulbs is 45,000 hours 
     $$ ùúá = 45000 $$
  

-  **Alternative Hypothesis (H$_1$):** The average life of the bulbs is less than 45,000 hours
       $$ ùúá <= 45000 $$

In [13]:
from scipy.stats import ttest_1samp
t_test_less=ttest_1samp(df2['Life'],45000) 
t_test_less# x

TtestResult(statistic=-2.1981495173443797, pvalue=0.04525698313212501, df=14)

In [8]:
p_value= t_test_less.pvalue /2
p_value  #p>0.05

0.022628491566062506

### Conclusion
- Here our pvalue is less than 0.05 (p < 0.05) , So we will be ***rejecting the Null Hypothesis***
- Hence the claims by Blaze Industries about the electric bulbs life has came false , That means the light bulb average life is less than 45,000hrs.

## Two sample T test

### Question 3 :
**In a pig farm, to increase the weight of the pigs two fifferent diets were given. The data fir gain in weight is as given. Test wheather the two diets differ significantly regarding their effect on increase in weight.**

In [9]:
df3= pd.read_csv('Data/Pract1_Question3.csv')

In [10]:
df3.head()     #  U1 U2

   sr  Diet A  Diet B
0   1      45      45
1   2      34      35
2   3      46      32
3   4      23      47
4   5      67      37

### Hypothesis
- **Null Hypothesis (H$_o$) :** Average gain in weight in diet A is equal to average gain in weight in diet B

    **ùúá $_a$ = ùúá $_b$**
  
- **Alternate Hypothesis (H$_1$) :** Average gain in weight in diet A is not equal to average gain in weight in diet B

    **ùúá $_a$ ‚â† ùúá $_b$**

In [11]:
from scipy.stats import ttest_ind    # 2 samp ttest_1sample  
ttest_ind(df3['Diet A'],df3['Diet B'])   p >0.05

TtestResult(statistic=0.5169140149580205, pvalue=0.6115094596012607, df=18.0)

### Conclusion : 
- since we got the pvalue as 0.611 which is greater than 0.05 so we will ***accpeting the Null Hypothesis*** 
- so the average gain in weight due to diet A and B are the same.

## Pair T test

### Question - 4
**An Pharma company claims to have produced a new drug which improves sleep of 18 year old teenagers. The hours of sleep for 10 teenagers before and after the giving the new drug is recorded. Test Wheather there is a significant difference in the average hours of sleep.**

In [12]:
df = pd.read_excel('Data/Pairttest.xlsx')

In [13]:
df

   sr no  Hourse of sleep (Before)  Hours of sleep (After)
0      1                       5.0                     7.0
1      2                       6.0                     7.5
2      3                       6.5                     9.0
3      4                       5.5                     7.0
4      5                       6.5                     8.0
5      6                       7.0                     7.5
6      7                       8.0                     7.0
7      8                       7.5                     7.0
8      9                       6.0                     7.0
9     10                       7.0                     6.5

**¬µ$_a$** : The average hourse of sleep before medication 

**¬µ$_b$** : The average hourse of sleep after medication
### Hypothesis 
**Null Hypothesis H$_o$** : The average hourse of sleep before medication is equal to average sleep after medication
$$ ¬µa = ¬µb  $$
**Alternate Hypothesis H$_1$** : The average hourse of sleep before medication is not equal to average sleep after medication
$$ ¬µa ‚â† ¬µb  $$

In [14]:
from scipy.stats import ttest_rel
ttest_rel(df['Hourse of sleep (Before)'], df['Hours of sleep (After)'])

TtestResult(statistic=-2.2785119632047284, pvalue=0.048680802344322635, df=9)

### Conclusion :
- The value of P is 0.048 that is less than 0.05 , hence we will **rejecting the Null Hypothesis H$_o$**
- So the average hours of sleep before medication is not equal to the average sleep after medication
- There is significant difference between the 2 drugs

### Question 5
**A random sample of 40 glass rods is taken from a lot manufactured under a new process. They are tested for their breaking strength. Can we claim that the breaking strength is equal to 55lbs**

In [15]:
df2= pd.read_excel('Data/One sample Z test.xlsx')
df2.count()

strength    40
dtype: int64

### Hypothesis 
**Null Hypothesis H$_o$** : The mean breaking strength of the glass rod is equal to 55lbs
$$ ¬µ = 55 $$
**Alternate Hypothesis H$_1$** : The mean breaking strength of the glass rod is not equal to 55lbs
$$ ¬µ ‚â† 55  $$

In [16]:
from statsmodels.stats import weightstats as ztests

ztests.ztest(df2['strength'],value=55)

(-4.430631732961848, 9.395742863915199e-06)

### Conclusion : 
- The p-value is 9.39 which is greater than 0.05 , hence we will be accepting the null hypothesis
- we may conclude that the average breaking strength of the glass rod is not equal to 55lbs

# 2 sample Z test 

### Question 6
**Two types of fertilizers are tested in farm lands of the same size. The yields in quintals are given below , can we conclude that the two fertilizers have the same yield**

In [17]:
df4= pd.read_excel('Data/Fertilizer.xlsx')
df4.count()

F1    35
F2    35
dtype: int64

### Hypothesis 
**Null Hypothesis H$_o$** : Both the Fertilizers yiedls same results
$$ ¬µ1 = ¬µ2 $$
**Alternate Hypothesis H$_1$** : Yeild produced by both the fertilizers have a significant difference
$$ ¬µ1 ‚â† ¬µ2  $$

In [18]:
ztests.ztest(df4['F1'],df4['F2'] )

(-1.1390306751872912, 0.25469036008906554)

### Conclusion : 
- here p value is greater than 0.05 , hence we will be **accepting the Null Hypothesis.**
- so the average yield of Fertilizer 1 is equal to the average yield of Fertilizer 2